# Yelp Reviews

# Biblio

In [2]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics

# Import Data

In [3]:
yelp0=pd.read_csv('C:/Users/Yassine/Desktop/Text_machine_learning_sk/pycon_2016_tutorial_master/data/yelp.csv')
yelp0.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

# New DataFrame with only 1 and 5 stars

In [4]:
yelp = yelp0[(yelp0['stars']==1)|(yelp0['stars']==5)]
yelp.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0
6,zp713qNhx8d9KCJJnrw1xA,2010-02-12,riFQ3vxNpP4rWLk_CSri2A,5,Drop what you're doing and drive here. After I...,review,wFweIWhv2fREZV_dYkz_1g,7,7,4

# Defining X and Y and spliting data into train/test data

In [5]:
X=yelp.text
y=yelp.stars
print(X.shape,y.shape)

(4086,) (4086,)

In [6]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=1)
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(2737,) (1349,) (2737,) (1349,)

# Create document-term matrices with CountVectorizer

In [7]:
vect=CountVectorizer()
vect.fit(X_train)
X_train_dtm=vect.transform(X_train)
print(X_train_dtm.shape)
X_test_dtm=vect.transform(X_test)
print(X_test_dtm)
print(X_test_dtm.shape)
#d'apres le resultat, X_test_dtm est une matrice de dimension 1349x15712 : mots et documents.
#chaque docuement represente une ligne de X_test (1349) et chaque mot represente un mot de X_train (15712)

(2737, 15960)
  (0, 319)	1
  (0, 694)	2
  (0, 738)	2
  (0, 745)	6
  (0, 775)	1
  (0, 995)	1
  (0, 1186)	1
  (0, 1551)	4
  (0, 1887)	2
  (0, 2165)	1
  (0, 2688)	1
  (0, 2793)	1
  (0, 3743)	1
  (0, 3983)	1
  (0, 4364)	1
  (0, 4485)	1
  (0, 4694)	1
  (0, 5029)	1
  (0, 5687)	1
  (0, 6163)	1
  (0, 6602)	1
  (0, 6642)	3
  (0, 6661)	1
  (0, 6819)	3
  (0, 7517)	4
  :	:
  (1348, 14265)	1
  (1348, 14282)	3
  (1348, 14290)	1
  (1348, 14305)	1
  (1348, 14316)	3
  (1348, 14448)	10
  (1348, 14677)	1
  (1348, 14875)	1
  (1348, 14984)	1
  (1348, 15041)	1
  (1348, 15059)	1
  (1348, 15065)	1
  (1348, 15342)	1
  (1348, 15380)	2
  (1348, 15412)	2
  (1348, 15465)	8
  (1348, 15517)	2
  (1348, 15518)	1
  (1348, 15545)	1
  (1348, 15552)	1
  (1348, 15554)	1
  (1348, 15579)	1
  (1348, 15623)	1
  (1348, 15675)	2
  (1348, 15817)	1
(1349, 15960)

In [8]:
#une autre maniere de representer cetee matrice : 
print(X_test_dtm.toarray())

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [9]:
#ou encore mieux
pd.DataFrame(X_test_dtm.toarray(), columns=vect.get_feature_names()).head()

,00,000,00am,00pm,01,03,03342,04,05,07,...,zucchini,zuchinni,zumba,zupa,zuzu,zwiebel,zzed,éclairs,école,ém
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
print(pd.DataFrame(X_test_dtm.toarray(), columns=vect.get_feature_names()).shape)

(1349, 15960)

# Using Multinomial Naive Bayes to predict the rating stars in the testing set

In [11]:
nb=MultinomialNB() #creation d'une instance
%time nb.fit(X_train_dtm,y_train) #Le model apprend la relation entre X_train_dtm (matrice : 2 features) et y_train.
#donc il va trouver une relation entre y_train en fonction des documents et son contenu (les mots : ses nombres d'occurence)

Wall time: 1.56 s

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [12]:
y_pred=nb.predict(X_test_dtm) #la prediction sur l'ensemble de test

In [13]:
y_pred.shape

(1349,)

In [14]:
y_pred

array([5, 5, 5, ..., 5, 5, 1], dtype=int64)

# The accuracy and the confusion matrix

Accuracy

In [15]:
metrics.accuracy_score(y_test,y_pred)

0.911045218680504

Confusion matrix :

In [16]:
confusion=metrics.confusion_matrix(y_test,y_pred)
confusion

array([[ 161,   91],
       [  29, 1068]], dtype=int64)

In [17]:
#une autre representation
pd.DataFrame(metrics.confusion_matrix(y_test,y_pred), columns=['predicted : 1','predicted : 5'], index=['actual : 1','actual : 5'])

            predicted : 1  predicted : 5
actual : 1            161             91
actual : 5             29           1068

In [18]:
TP=confusion[1,1] #la prediction est 5 stars = correcte
TN=confusion[0,0] #la prediction est 1 star = correcte
FP=confusion[0,1] #la prediction est 5 stars = fausse
FN=confusion[1,0] #la prediction est 1 star = fausse
print(TP,TN,FP,FN)

1068 161 91 29

Classification accuracy

In [19]:
print((TP+TN)/float(TP+TN+FP+FN))

0.911045218680504

The classification accuracy that could be achieved by always predicting the most frequent class : 5

In [20]:
y_test.value_counts()

5    1097
1     252
Name: stars, dtype: int64

In [21]:
print(y_test.value_counts().head(1) / len(y_test))

5    0.813195
Name: stars, dtype: float64

# Analyse de résultat

In [22]:
X_test[(y_test ==1) & (y_pred ==5)].head(10)#les 10 premiers FP

2175    This has to be the worst restaurant in terms o...
1781    If you like the stuck up Scottsdale vibe this ...
2674    I'm sorry to be what seems to be the lone one ...
9984    Went last night to Whore Foods to get basics t...
3392    I found Lisa G's while driving through phoenix...
8283    Don't know where I should start. Grand opening...
2765    Went last week, and ordered a dozen variety. I...
2839    Never Again,\nI brought my Mountain Bike in (w...
321     My wife and I live around the corner, hadn't e...
1919                                         D-scust-ing.
Name: text, dtype: object

In [25]:
X_test[1781] #le model a predit 1-star au lieu de 5-stars car dans ce texte se trouvent plusieur mots 
#qui existent dans les docuements (textes) qui ont une evaluation de 5 stars dans le 'training set' : good,like,nice...

"If you like the stuck up Scottsdale vibe this is a good place for you. The food isn't impressive. Nice outdoor seating."

In [28]:
X_test[1919]#pas assez de données pour prédire la bonne résultat

'D-scust-ing.'

In [26]:
#et la meme chose pour les 10 premiers FN
X_test[(y_test ==5) & (y_pred ==1)].head(10)

7148    I now consider myself an Arizonian. If you dri...
1341    Just want to Say ThankYou Hawaiian Airlines fo...
4963    This is by far my favourite department store, ...
6318    Since I have ranted recently on poor customer ...
380     This is a must try for any Mani Pedi fan. I us...
5565    I`ve had work done by this shop a few times th...
3448    I was there last week with my sisters and whil...
6050    I went to sears today to check on a layaway th...
2504    I've passed by prestige nails in walmart 100s ...
2475    This place is so great! I am a nanny and had t...
Name: text, dtype: object

In [30]:
X_test[4963]# complain, rushing ...

'This is by far my favourite department store, hands down. I have had nothing but perfect experiences in this store, without exception, no matter what department I\'m in. The shoe SA\'s will bend over backwards to help you find a specific shoe, and the staff will even go so far as to send out hand-written thank you cards to your home address after you make a purchase - big or small. Tim & Anthony in the shoe salon are fabulous beyond words! \n\nI am not completely sure that I understand why people complain about the amount of merchandise on the floor or the lack of crowds in this store. Frankly, I would rather not be bombarded with merchandise and other people. One of the things I love the most about Barney\'s is not only the prompt attention of SA\'s, but the fact that they aren\'t rushing around trying to help 35 people at once. The SA\'s at Barney\'s are incredibly friendly and will stop to have an actual conversation, regardless or whether you are purchasing something or not. I have also never experienced a "high pressure" sale situation here.\n\nAll in all, Barneys is pricey, and there is no getting around it. But, um, so is Neiman\'s and that place is a crock. Anywhere that ONLY accepts American Express or their charge card and then treats you like scum if you aren\'t carrying neither is no place that I want to spend my hard earned dollars. Yay Barneys!'

In [50]:
X_train_tokens = vect.get_feature_names() # Les mots de X_train
len(X_train_tokens)

15960

In [107]:
nb.feature_count_.shape # la premiere ligne est 1-star et la 2-eme est 5-stars

(2, 15960)

In [108]:
# Le nbr d'occurence de chaque mots dans chaque class (class : label : 1-star ou 5-stars)
one_star_token_count = nb.feature_count_[0, :]
five_star_token_count = nb.feature_count_[1, :]
print(one_star_token_count,five_star_token_count)

[26.  4.  2. ...  0.  0.  0.] [36.  5.  2. ...  1.  1.  1.]

In [99]:
# Creer une bd de mots avec ces nombres d'occurence dans les phrases évalué avec 1-star
tokens = pd.DataFrame({'token':X_train_tokens, 'one_star':one_star_token_count, 'five_star':five_star_token_count}).set_index('token')
# Ajouter un 1 pour ne pas déviser par 0
tokens['one_star'] = tokens['one_star'] + 1
tokens['five_star'] = tokens['five_star'] + 1
tokens.head(10)

       one_star  five_star
token
00         27.0       37.0
000         5.0        6.0
00am        3.0        3.0
00pm        1.0        5.0
01          2.0        3.0
03          2.0        1.0
03342       2.0        1.0
04          1.0        2.0
05          1.0        3.0
07          4.0        2.0

In [100]:
nb.class_count_

array([ 497., 2240.])

In [101]:
# C'est mieux de travailler avec des frequences
tokens['one_star'] = tokens['one_star'] / nb.class_count_[0]
tokens['five_star'] = tokens['five_star'] / nb.class_count_[1]

In [102]:
# calculer la rationnel entre five-star et one-star pour chaque mot
tokens['five_star_ratio'] = tokens['five_star'] / tokens['one_star']

In [104]:
tokens.sort_values('five_star_ratio', ascending=False).head(10)
#EN triant les mots par five_star_ratio

             one_star  five_star  five_star_ratio
token
fantastic    0.004024   0.075000        18.637500
perfect      0.006036   0.097321        16.122917
yum          0.002012   0.024107        11.981250
favorite     0.012072   0.136607        11.315625
chocolate    0.006036   0.063393        10.502083
outstanding  0.002012   0.020089         9.984375
brunch       0.002012   0.017857         8.875000
helped       0.002012   0.017411         8.653125
organic      0.002012   0.016964         8.431250
awesome      0.014085   0.116518         8.272768

In [109]:
#EN triant par l'inverse de five_star_ratio, cad trier les mots par one-star
tokens.sort_values('five_star_ratio', ascending=True).head(10)

              one_star  five_star  five_star_ratio
token
staffperson   0.034205   0.000446         0.013051
refused       0.024145   0.000446         0.018490
disgusting    0.048290   0.000893         0.018490
filthy        0.020121   0.000446         0.022187
fucking       0.020121   0.000446         0.022187
unacceptable  0.016097   0.000446         0.027734
gringos       0.016097   0.000446         0.027734
acknowledge   0.016097   0.000446         0.027734
boca          0.016097   0.000446         0.027734
fuse          0.016097   0.000446         0.027734

# 5-class classification problem

# Defining X and Y and spliting data into train/test data

In [111]:
X=yelp0.text
y=yelp0.stars
print(X.shape,y.shape)

(10000,) (10000,)

In [113]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=2)
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(6700,) (3300,) (6700,) (3300,)

In [115]:
y.value_counts().sort_index() #La class 4 est la plus courante

1     749
2     927
3    1461
4    3526
5    3337
Name: stars, dtype: int64

In [116]:
X_train_dtm = vect.fit_transform(X_train)
X_test_dtm = vect.transform(X_test)

In [117]:
nb.fit(X_train_dtm, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [118]:
y_pred_class = nb.predict(X_test_dtm)

Accuracy

In [120]:
print(metrics.accuracy_score(y_test, y_pred_class))

0.4918181818181818

Null accuracy

In [121]:
print(y_test.value_counts().head(1) / len(y_test))

4    0.354242
Name: stars, dtype: float64

Dans un premier temps, le coef d'accuracy de classification ne parait pas bonne parce qu'il ne differe pas trop de null accuracy. mais le model, autant qu'un etre humain, ne peut pas faire idealement la difference entre un 1-star et un 2-stars, ou bien un 4 et un 5. ET c'est ce que nous montre la matrice de confusion :

In [122]:
metrics.confusion_matrix(y_test, y_pred_class)

array([[ 70,  29,  26,  97,  35],
       [ 22,  20,  42, 186,  36],
       [  2,   9,  47, 354,  49],
       [  4,   1,  23, 879, 262],
       [  1,   0,   4, 495, 607]], dtype=int64)